<?xml version="1.0"?>

<launch>
  <param name="use_sim_time" value="false" />
  
  <!-- EDIT THIS LINE TO REFLECT THE NAME OF YOUR OWN MAP FILE 
       Can also be overridden on the command line -->
  <arg name="map" default="test_map.yaml" />
  
  
  <!-- should be moved to raspberry pi with laser link tf -->
  <node pkg="urg_node" type="urg_node" name="urg_node">
    <param name="ip_address" type="string" value="192.168.0.10"/>
  </node>  
  <!-- the real lase frame -->
  <node pkg="tf" type="static_transform_publisher" name="base_link_2_laser_link" args="0.345 0 0.33 0 0 0 /base_link /laser 100"/>
  
  <!-- fake odometry for AMCL by using the laser_scan_matcher -->
  <node pkg="laser_scan_matcher" type="laser_scan_matcher_odom_node" name="laser_scan_matcher_odom_node" output="screen">
    <!-- 里程估算： 实际上就是 base_link-odom 的tf变换信息 -->
    <param name="base_frame" value = "/base_link"/>
    <param name="fixed_frame" value = "/odom"/>
    
    <param name="publish_tf" value="true"/>
    <param name="publish_odom" value="true"/>
        
    <param name="use_cloud_input" value="false"/>
    <param name="use_odom" value="false"/>
    <param name="use_imu" value="false"/>
        
    <param name="use_alpha_beta" value="true"/>
    <param name="max_iterations" value="10"/> 
  </node>

  <!-- Run the map server with the desired map -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find navigation_launch)/maps/$(arg map)"/>
  
  
  <!-- Fire up AMCL -->
  <include file="$(find navigation_launch)/launch/raspberry_pi_amcl.launch" />


  <!-- Start move_base -->
  <include file="$(find navigation_launch)/launch/move_base_smoother.launch" />
  
  <!-- move_base result: cmd_vel transmit to raspberry pi by tcp 
  <node pkg="ros_tcp_comm" type="sender.py" name="sender" output="screen">
      <param name="topic_name" type="string" value="/cmd_vel"/>
      <param name="port_number" type="int" value="13000"/>
      <param name="ip" type="string" value="192.168.3.107"/> 
	</node>-->
  
  <include file="$(find navigation_launch)/launch/geotiff_mapper.launch" />
  
  <include file="$(find smartcar_model)/launch/smartcar.launch" />
  
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find navigation_launch)/rviz_cfg/nav_test.rviz"/>

</launch>
